<!--

   This file is part of The University of Edinburgh
   Business Travel Reporting System.
 
   Copyright 2017, 2018 University of Edinburgh
 
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->

<div id="app" class="container">
  
  <div class="loading" v-if="dataReady == false">
    <div class="twelve columns" style="text-align: center;">
        <p> <br /> <br /> <br /> <br /></p>
        <img src="/images/ajax-loader.gif" alt="Loading, please wait">
        <p>Analysing thousands of journeys</p>
    </div>
    
  </div>
  
  <div>
  
    <h2>Developer report for {{year}}</h2>
    
   
    
    <ul class="tab-nav">
      
      <li>
        <a class="button active" href="#statuses">Calculation</a>
      </li>
      
      <li>
        <a class="button" href="#results">Summary</a>
      </li>
      
      <li>
        <a class="button" href="#location_types">Top destinations</a>
      </li>
      
      <li>
        <a class="button" href="#providers">Providers</a>
      </li>
      
      
      
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="results">
        
        
        <div class="row">
          <div class="four columns offset-by-one">
            <p><h5>Carbon</h5><span class="big_number"> {{ Math.round(Number(total_carbon)).toLocaleString() }} </span> kg CO<sub>2</sub>e</p>
            <div v-for="(comparison,index) in dataComparisons.carbon" >
              <span v-if="dataFound.carbon === index">Equivalent to...<br/> <span class="really big_number"> {{ Math.round(Number(total_carbon)/comparison.val).toLocaleString() }} </span> {{comparison.name}} </span>
            </div>
          </div>
          <div class="four columns">
            <p><h5>Distance</h5><span class="big_number"> {{ Math.round(Number(total_km)).toLocaleString() }} </span> km</p>
            <div v-for="(comparison,index) in dataComparisons.distance" >
              <span v-if="dataFound.distance === index">Equivalent to...<br/> <span class="really big_number"> {{ Math.round(Number(total_km)/comparison.val).toLocaleString() }} </span> {{comparison.name}} </span>
            </div>
          </div>
          <div class="three columns">
            <p><h5>Cost</h4><span class="big_number"> £{{ Number(total_cost).toLocaleString() }} </span></p>
            <div v-for="(comparison,index) in dataComparisons.cost" >
              <span v-if="dataFound.cost === index">Equivalent to...<br/> <span class="really big_number"> {{ Math.round(Number(total_cost)/comparison.val).toLocaleString() }} </span> {{comparison.name}} </span>
            </div>
          </div>
        </div>
        

        
        
        <div id="trend_chart" class="sixteen columns" style="height: 65vh;"></div>
        
        <div class="row">
          <div class="eight columns offset-by-one">
            <p id="axis_label">Kilograms CO<sub>2</sub>e</p>
          </div>
        </div>
        <div class="eight columns offset-by-one">
          <a href="#" class="button switch_trend_data u-pull-left button-primary" data-show="data_carbon" data-unit="Kilograms CO<sub>2</sub>e">Carbon emissions</a> 
          <a href="#" class="button switch_trend_data u-pull-left" data-show="data_cost" data-unit="&pound; GBP">Cost</a> 
          <a href="#" class="button switch_trend_data u-pull-left" data-show="data_distance" data-unit="Kilometres">Distance</a>
          <a href="#" class="button switch_trend_data u-pull-left" data-show="data_count" data-unit="Number of journeys">Count</a>
        </div>
        
        
      </div>
      
      <div class="tab-pane" id="location_types">
        <p>This report shows the destinations that were responsible for the most carbon emissions across all modes of travel. This report doesn't account for multi-part journeys, so some destinations such as Amsterdam or Doha appear unusually popular as they are entered separately by our travel agent.</p>
        <table class="u-full-width">
        <thead>
          <tr>
          <th>Destination</th>
          <th>Carbon emissions</th>
          <th>Cost</th>
          <th>Distance travelled</th>
          <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(destination,index) in destinations">
          <td><a v-bind:href="'/year/%year%/journeys/by-destination/'+destination.destination+'?dept=%dept%'">{{ destination.destination }}</a></td>
          <td><span class="big_number"> {{ Math.round(Number(destination.total_kg_co2e)).toLocaleString() }} </span> kg CO<sub>2</sub>e</td>
          <td><span class="big_number"> £{{ Number(destination.total_cost).toLocaleString() }} </span></td>
          <td><span class="big_number"> {{ Number(destination.total_distance_km_processed).toLocaleString() }} </span> km </td>
          <td><span class="big_number"> {{ Math.round(Number(destination.total)).toLocaleString() }} </span> journeys </td>
          </tr>
        </tbody>
        </table>
      
      </div>
      
      
      <div class="tab-pane" id="providers">
        <p>This report shows our data broken down by supplier and mode of transport. This information is used directly to calculate our annual report to the Higher Education Statistics Agency.</p>
        <table class="u-full-width">
        <thead>
          <tr>
          <th>Provider</th>
          <th>Mode</th>
          <th>Carbon emissions</th>
          <th>Cost</th>
          <th>Distance travelled</th>
          <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(provider,index) in providers">
          <td><a v-bind:href="'/year/%year%/journeys/by-provider/'+provider.provider+'?dept=%dept%'">{{ provider.provider }}</a></td>
          <td>{{ provider.mode_of_transport }} </td>
          <td><span class="big_number"> {{ Math.round(Number(provider.total_kg_co2e)).toLocaleString() }} </span> kg CO<sub>2</sub>e</td>
          <td><span class="big_number"> £{{ Number(provider.total_cost).toLocaleString() }} </span></td>
          <td><span class="big_number"> {{ Number(provider.total_distance_km_processed).toLocaleString() }} </span> km </td>
          <td><span class="big_number"> {{ Math.round(Number(provider.total)).toLocaleString() }} </span> journeys </td>
          </tr>
        </tbody>
        </table>
      </div>
      
      <div class="tab-pane active" id="statuses">
        <p>As the software that made this report looks at journeys, it tries to work out the origin, destination and mode of transport used for each one. Sometimes we have very clear information about a journey, but on other occasions pieces of information might be missing. We automatically categorise data according to how it was calculated - using the best possible figures, or using some other method.</p>
        <table class="u-full-width">
        <thead>
          <tr>
          <th>Status</th>
          <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(status) in status_report">
          <td><a v-bind:href="'/year/%year%/journeys/by-status/'+status.status+'?dept=%dept%&nocache'">{{ status_codes[status.status] }}</a></td>
          <td><span class="big_number"> {{ Math.round(Number(status.total)).toLocaleString() }} </span> journeys </td>
          </tr>
        </tbody>
        </table>
      </div>
  </div>
	</div>
  
</div>


<script type="text/javascript">
	
	google.charts.load("current", {packages:["corechart"]});
	
	

var app = new Vue({
	el: '#app',
	data: {
		year: %year%,
		destinations: null,
		providers: null,
		status_report: null,
		status_codes: null,
    process_report: null,
    total_cost: null,
    total_carbon: null,
    total_km: null,
    departments: null,
    london_report: null,
		london_comparison: {air: {total: null, total_cost: null, total_kg_co2e: null}, rail: {total: null, total_cost: null, total_kg_co2e: null}},
    dataReady: false,
    dataReadyCount: 0,
    dataReadyFinished: 8,
    dataComparisons: {
      distance: [{val:768800, name:'journeys to the Moon and back'}, {val:40075, name:'journeys around the Earth'}, {val:648, name:'journeys from Edinburgh to London'}],
      carbon: [{val:25400, name:'Space Shuttle launches'},{val:8100, name:'average UK households'},  {val:0.55, name:'disposable coffee cups'}],
      cost: [{val:35000, name:'academic staff salaries'}, {val:1300, name:'high-end laptops'}, {val:630, name:'smartphones'},{val:5, name:'acocado toast portions'}],
    },
    dataFound: {distance: 9999, carbon: 9999, cost: 9999},
	},
	created: function () {
		var _this = this;
		
		$.getJSON('/lookup/statuses', function (json) {
			_this.status_codes = json;
			console.log(_this.status_codes);
      _this.dataReadyCount = _this.dataReadyCount + 1;
      if (_this.dataReadyCount >= _this.dataReadyFinished) {
        _this.dataReady = true;
      }
		});
    
    $.getJSON('/process/status', function (json) {
			_this.process_report = json;
      _this.dataReadyCount = _this.dataReadyCount + 1;
      if (_this.dataReadyCount >= _this.dataReadyFinished) {
        _this.dataReady = true;
      }
		});
		
		$.getJSON('/report/year/%year%/by-destination?dept=%dept%&nocache', function (json) {
			_this.destinations = json;
      _this.dataReadyCount = _this.dataReadyCount + 1;
      if (_this.dataReadyCount >= _this.dataReadyFinished) {
        _this.dataReady = true;
      }
		});
		
		$.getJSON('/report/year/%year%/by-provider?dept=%dept%&nocache', function (json) {
			_this.providers = json;
      _this.dataReadyCount = _this.dataReadyCount + 1;
      if (_this.dataReadyCount >= _this.dataReadyFinished) {
        _this.dataReady = true;
      }
		});
		
		$.getJSON('/report/year/%year%/by-status?dept=%dept%&nocache', function (json) {
			_this.status_report = json;
      _this.dataReadyCount = _this.dataReadyCount + 1;
      if (_this.dataReadyCount >= _this.dataReadyFinished) {
        _this.dataReady = true;
      }
		});
    $.getJSON('/lookup/departments?dept=%dept%&nocache', function (json) {
			_this.departments = json;
      _this.dataReadyCount = _this.dataReadyCount + 1;
      if (_this.dataReadyCount >= _this.dataReadyFinished) {
        _this.dataReady = true;
      }
		
		});
		
	}
});

$( document ).ready(function() {
  
  
  window.data_carbon = [ ['Mode', 'Kg CO<sub>2</sub>e'],];
	window.data_cost = [ ['Mode', 'Cost &pound;'],];
	window.data_distance = [ ['Mode', 'Passenger kilometers'],];
	window.data_count = [ ['Mode', 'Number of journeys'],];
	
	
	window.current_data = [];
	
	$("#ccl4_search").change(function(e) {
		$("#search_form").submit();
	});

	$("#year_search").change(function(e) {
		$("#search_form").submit();
	});
    
   
      
	
		
		$.getJSON( "/report/year/%year%/by-mode?dept=%dept%&nocache", function( currentYear ) {
						
			var dataArray = {};
			var costArray = {};
			var distanceArray = {};
			var countArray = {};
				
			$.each(currentYear, function (key, modeData) {
				if (modeData.mode_of_transport != 'air') {
					if (modeData.mode_of_transport == 'bus' || modeData.mode_of_transport == 'mileage' || modeData.mode_of_transport == 'coach' || modeData.mode_of_transport == 'car' || modeData.mode_of_transport == 'taxi' ) {
						var currentMode = 'road';
					} else {
						var currentMode = modeData.mode_of_transport;
					}
				} else {
					if (modeData.submode_of_transport.indexOf('long') >=0) {
						var currentMode = 'long';
					} else if (modeData.submode_of_transport.indexOf('short') >=0) {
						var currentMode = 'short';
					}	else if (modeData.submode_of_transport.indexOf('domestic') >=0) {
						var currentMode = 'domestic';
					} else if (modeData.submode_of_transport.indexOf('average') >=0) {
						var currentMode = 'domestic';
					} else {
						var currentMode = 'domestic';
					}
				}
				
				if (dataArray[currentMode] === undefined) {
					dataArray[currentMode] = +modeData.total_kg_co2e;
				} else {
					dataArray[currentMode] = (+dataArray[currentMode]) + (+modeData.total_kg_co2e);
				}
				
				if (costArray[currentMode] === undefined) {
					costArray[currentMode] = +modeData.total_cost;
				} else {
					costArray[currentMode] = (+costArray[currentMode]) + (+modeData.total_cost);
				}
				
				if (distanceArray[currentMode] === undefined) {
					distanceArray[currentMode] = +modeData.total_distance_km_processed;
				} else {
					distanceArray[currentMode] = (+distanceArray[currentMode]) + (+modeData.total_distance_km_processed);
				}
				
				if (countArray[currentMode] === undefined) {
					countArray[currentMode] = +modeData.total;
				} else {
					countArray[currentMode] = (+countArray[currentMode]) + (+modeData.total);
				}
				
        app.total_carbon = app.total_carbon + modeData.total_kg_co2e*1;
        var index;
        for (index = 0; index < app.dataComparisons.carbon.length; ++index) {
            if (app.dataComparisons.carbon[index].val < app.total_carbon && index < app.dataFound.carbon) {
              app.dataFound.carbon = index;
            }
        }
        
        
        app.total_cost = app.total_cost + modeData.total_cost*1;
        for (index = 0; index < app.dataComparisons.cost.length; ++index) {
            if (app.dataComparisons.cost[index].val < app.total_cost && index < app.dataFound.cost) {
              app.dataFound.cost = index;
            }
        }
        
        app.total_km = app.total_km + modeData.total_distance_km_processed*1;
        for (index = 0; index < app.dataComparisons.distance.length; ++index) {
            if (app.dataComparisons.distance[index].val < app.total_km && index < app.dataFound.distance ) {
              app.dataFound.distance = index;
            }
        }
        
        console.log(app.dataFound);
        
				
			});
			
			/* [ ['Year', 'Long-haul flights', 	'Short-haul flights', 'Domestic flights',  'Road', 'Rail', 'Ferry'],]; */
			data_carbon.push(['Long-haul flights',dataArray['long']]);
			data_cost.push(['Long-haul flights',costArray['long']]);
			data_distance.push(['Long-haul flights',distanceArray['long']]);
			data_count.push(['Long-haul flights',countArray['long']]);
			
			data_carbon.push(['Short-haul flights',dataArray['short']]);
			data_cost.push(['Short-haul flights',costArray['short']]);
			data_distance.push(['Short-haul flights',distanceArray['short']]);
			data_count.push(['Short-haul flights',countArray['short']]);
			
			data_carbon.push(['Domestic flights',dataArray['domestic']]);
			data_cost.push(['Domestic flights',costArray['domestic']]);
			data_distance.push(['Domestic flights',distanceArray['domestic']]);
			data_count.push(['Domestic flights',countArray['domestic']]);
			
			data_carbon.push(['Road',dataArray['road']]);
			data_cost.push(['Road',costArray['road']]);
			data_distance.push(['Road',distanceArray['road']]);
			data_count.push(['Road',countArray['road']]);
			
			data_carbon.push(['Rail',dataArray['rail']]);
			data_cost.push(['Rail',costArray['rail']]);
			data_distance.push(['Rail',distanceArray['rail']]);
			data_count.push(['Rail',countArray['rail']]);
			
			data_carbon.push(['Ferry',dataArray['ferry']]);
			data_cost.push(['Ferry',costArray['ferry']]);
			data_distance.push(['Ferry',distanceArray['ferry']]);
			data_count.push(['Ferry',countArray['ferry']]);
				
      app.dataReadyCount = app.dataReadyCount + 1;

      if (app.dataReadyCount >= app.dataReadyFinished) {
        app.dataReady = true;
      }

		}).fail(function(xhr, textStatus, errorThrown ) {
			if (textStatus == 'timeout') {
				this.tryCount++;
				if (this.tryCount <= this.retryLimit) {
					//try again
					$.getJSON(this);
					return;
				}            
				return;
			}
			if (xhr.status == 500) {
				console.log(errorThrown);
			} else {
				//handle error
				console.log(errorThrown);
			}
		});
		
		$("#dept_select").change(function(e) {
			$("#dept_select_form").submit();
		});
        
    setTimeout(function() {
         if (app.dataReady == false) {
            app.dataReady = true;
         }
    }, 2000);
   
});

</script>
