<!--

   This file is part of The University of Edinburgh
   Business Travel Reporting System.
 
   Copyright 2017, 2018 University of Edinburgh
 
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->

<div id="app" class="container">
	
	<div class="loading" v-if="dataReady == false">
		<div class="twelve columns" style="text-align: center;">
			<p> <br /> <br /> <br /> <br /></p>
			<img src="/images/ajax-loader.gif" alt="Loading, please wait">
			<p>Analysing thousands of journeys</p>
		</div>
		
	</div>
	
	<div class="department_select">
      <form method="get" action="" id="dept_select_form">
        <select name="dept" id="dept_select">
          <option value="ALL_OF_THEM">All departments</option>
          <option v-for="(department,index) in departments" :value="department.ccl4" :selected="department.selected">{{department.ccn4}}</option>
        </select>
      </form>
    </div>
	
	<div id="trend_chart" class="sixteen columns" style="height: 70vh;"></div>
	<div class="row">
		<div class="eight columns offset-by-one">
		<p id="axis_label">Kilograms CO<sub>2</sub>e / Academic year</p>
		<p class="strong">To see the report for a particular year, <strong>click on the column</strong>.</p>
	</div>
	</div>
	
	<div class="eight columns offset-by-one">
		<a href="#" class="button switch_trend_data u-pull-left button-primary" data-show="data_carbon" data-unit="Kilograms CO<sub>2</sub>e">Carbon emissions</a> 
		<a href="#" class="button switch_trend_data u-pull-left" data-show="data_cost" data-unit="&pound; GBP">Cost</a> 
		<a href="#" class="button switch_trend_data u-pull-left" data-show="data_distance" data-unit="Kilometres">Distance</a>
		<a href="#" class="button switch_trend_data u-pull-left" data-show="data_count" data-unit="Number of journeys">Count</a>
	</div>
  
</div>

<script type="text/javascript">
	
function drawYearChart(choosedata) {
		
		var chart = new google.visualization.ComboChart(document.getElementById('trend_chart'));

		data = google.visualization.arrayToDataTable(choosedata);

    var options = {
			title: '',
			titleTextStyle: {
				fontSize: 20, // 12, 18 whatever you want (don't specify px)
			},
      seriesType: 'bars',
	  isStacked: true, 
	  colors:['#7f7f9e','#9AC1D5','#C4D3E0','#3A7790','#9C9C36','#CB6A64', '#7864CB'],
	  backgroundColor: '#ffffff',

    };
		
		google.visualization.events.addListener(chart, 'select', function() {

				if ('%dept%' != '') {
					window.location.href = '/year/'+(Number(data.getValue(chart.getSelection()[0].row, 0).substr(0,4)) + 1) +'?dept=%dept%';
				} else {
					window.location.href = '/year/'+(Number(data.getValue(chart.getSelection()[0].row, 0).substr(0,4)) + 1);
				}
				
    });
		chart.draw(data, options);
		
}

var app = new Vue({
	el: '#app',
	data: {
		dataReady: false,
		departments: null,
	},
	created: function () {
		var _this = this;
		
		$.getJSON('/lookup/departments?dept=%dept%', function (json) {
				_this.departments = json;
		  _this.dataReadyCount = _this.dataReadyCount + 1;
		  if (_this.dataReadyCount >= _this.dataReadyFinished) {
			_this.dataReady = true;
		  }
			
		});
	}
});

$( document ).ready(function() {
	
	
		google.charts.load("current", {packages:["corechart"]});
	
		window.data_carbon = [ ['Year', 'Other flights', 'Long-haul flights', 	'Short-haul flights', 'Domestic flights',  'Road', 'Rail', 'Ferry'],];
		window.data_cost = [ ['Year', 'Other flights', 'Long-haul flights', 	'Short-haul flights', 'Domestic flights',  'Road', 'Rail', 'Ferry'],];
		window.data_distance = [ ['Year', 'Other flights', 'Long-haul flights', 	'Short-haul flights', 'Domestic flights',  'Road', 'Rail', 'Ferry'],];
		window.data_count = [ ['Year', 'Other flights', 'Long-haul flights', 	'Short-haul flights', 'Domestic flights',  'Road', 'Rail', 'Ferry'],];
		
		window.current_data = [];
	
		$("#ccl4_search").change(function(e) {
			$("#search_form").submit();
		});
	
		$("#year_search").change(function(e) {
			$("#search_form").submit();
		});
    
    $(window).resize(function() {
      drawYearChart(window.current_data);
    });
	
	$("#dept_select").change(function(e) {
		$("#dept_select_form").submit();
	});
      
    $(".switch_trend_data").click(function(e) {
      $(".switch_trend_data").removeClass('button-primary');
      $(this).addClass('button-primary');
      e.preventDefault();
      drawYearChart(window[$(this).data('show')]);
	  $("#axis_label").html($(this).data('unit')+" / Academic year");
	  window.current_data = window[$(this).data('show')];
    });
		
		$.getJSON( "/report/by-mode?dept=%dept%", function( data ) {
		
			$.each(data, function (saveYear, currentYear) {
								
				var dataArray = {other:0, long:0, short:0, domestic:0, road:0, rail:0, ferry:0};
				var costArray = {other:0, long:0, short:0, domestic:0, road:0, rail:0, ferry:0};
				var distanceArray = {other:0, long:0, short:0, domestic:0, road:0, rail:0, ferry:0};
				var countArray = {other:0, long:0, short:0, domestic:0, road:0, rail:0, ferry:0};
					
				$.each(currentYear, function (key, modeData) {
					if (modeData.mode_of_transport != 'air') {
						if (modeData.mode_of_transport == 'bus' || modeData.mode_of_transport == 'mileage' || modeData.mode_of_transport == 'coach' || modeData.mode_of_transport == 'car' || modeData.mode_of_transport == 'taxi' ) {
							var currentMode = 'road';
						} else {
							var currentMode = modeData.mode_of_transport;
						}
					} else {
						if (modeData.submode_of_transport.indexOf('long') >=0) {
							var currentMode = 'long';
						} else if (modeData.submode_of_transport.indexOf('short') >=0) {
							var currentMode = 'short';
						}	else if (modeData.submode_of_transport.indexOf('domestic') >=0) {
							var currentMode = 'domestic';
						} else {
							var currentMode = 'other';
						}
					}
					
					if (dataArray[currentMode] === undefined) {
						dataArray[currentMode] = +modeData.total_kg_co2e;
					} else {
						dataArray[currentMode] = (+dataArray[currentMode]) + (+modeData.total_kg_co2e);
					}
					
					if (costArray[currentMode] === undefined) {
						costArray[currentMode] = +modeData.total_cost;
					} else {
						costArray[currentMode] = (+costArray[currentMode]) + (+modeData.total_cost);
					}
					
					if (distanceArray[currentMode] === undefined) {
						distanceArray[currentMode] = +modeData.total_distance_km_processed;
					} else {
						distanceArray[currentMode] = (+distanceArray[currentMode]) + (+modeData.total_distance_km_processed);
					}
					
					if (countArray[currentMode] === undefined) {
						countArray[currentMode] = +modeData.total;
					} else {
						countArray[currentMode] = (+countArray[currentMode]) + (+modeData.total);
					}
					
					
				});
				
				saveYear = (saveYear -1 ) + "-" + (saveYear.substr(-2) );
				
				/* [ ['Year', 'Other flights', 'Long-haul flights', 	'Short-haul flights', 'Domestic flights',  'Road', 'Rail', 'Ferry'],]; */
				data_carbon.push([saveYear, dataArray['other'], dataArray['long'], dataArray['short'], dataArray['domestic'], dataArray['road'], dataArray['rail'], dataArray['ferry']]);
				
				data_cost.push([saveYear, costArray['other'], costArray['long'], costArray['short'], costArray['domestic'], costArray['road'], costArray['rail'], costArray['ferry']]);
				
				data_distance.push([saveYear, dataArray['other'], distanceArray['long'], distanceArray['short'], distanceArray['domestic'], distanceArray['road'], distanceArray['rail'], distanceArray['ferry']]);
				
				data_count.push([saveYear, countArray['other'], countArray['long'], countArray['short'], countArray['domestic'], countArray['road'], countArray['rail'], countArray['ferry']]);
				
				
			});			
			google.charts.setOnLoadCallback(drawYearChart(data_carbon));
			app.dataReady = true;
			window.current_data = data_carbon;
			

		}).fail(function(xhr, textStatus, errorThrown ) {
			if (textStatus == 'timeout') {
				this.tryCount++;
				if (this.tryCount <= this.retryLimit) {
					//try again
					$.getJSON(this);
					return;
				}            
				return;
			}
			if (xhr.status == 500) {
				console.log(errorThrown);
			} else {
				//handle error
				console.log(errorThrown);
			}
		});
		
		setTimeout(function() {
         if (app.dataReady == false) {
            drawYearChart(window.data_carbon);
            app.dataReady = true;
         }
    }, 2000);
		
		
});

</script>
