<!--

   This file is part of The University of Edinburgh
   Business Travel Reporting System.
 
   Copyright 2017, 2018 University of Edinburgh
 
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="app" class="container">
  
  <h2>Journeys in {{year}} where {{group_by}} is {{group_by_var}}</h2>
	
		<div class="tab-pane" id="statuses">
			<table class="u-full-width"  >
				<thead>
					<tr>
					<th>Route</th>
					<th>Mode</th>
					<th>Submode</th>
					<th>Provider</th>
					<th>Carbon emissions</th>
					<th>Cost</th>
					<th>Distance travelled</th>
					</tr>
				</thead>
				<tbody>
					<tr  v-for="(journey, index) in journeys.data">
					<td><a v-bind:href="'/journey/'+journey.journey_id">{{ journey.origin }} - {{journey.destination}}</a></td>
					<td>{{ journey.mode_of_transport }}</td>
					<td>{{ journey.submode_of_transport }}</td>
					<td>{{ journey.provider }}</td>
					<td><span class="big_number"> {{ Math.round(Number(journey.kg_co2e)).toLocaleString() }} </span> kg CO<sub>2</sub>e</td>
					<td><span class="big_number"> £{{ Number(journey.cost).toLocaleString() }} </span></td>
					<td><span class="big_number"> {{ Number(journey.distance_km_processed).toLocaleString() }} </span> km </td>
					</tr>
				</tbody>
		  </table>
			
			<div style="text-align: center;"><p>Page {{journeys.current_page}} of {{journeys.last_page}}</p></div>
			<div class="ten columns offset-by-two">
				<a href="#" class="button pagination u-pull-left disabled" data-show="first" id="first_page" >First page</a> 
				<a href="#" class="button pagination u-pull-left button-primary disabled" data-show="prev" id="prev_page">Previous page</a>  
				<a href="#" class="button pagination button-primary u-pull-left" data-show="next" id="next_page">Next page</a>
				<a href="#" class="button pagination u-pull-left" data-show="last" id="last_page">Last page</a>
			</div>
			
		</div>
		
  
</div>

<script type="text/javascript">
	

var app = new Vue({
	el: '#app',
	data: {
		year: %year%,
		group_by: '%group_by%',
		group_by_var: '%group_by_var%',
		journeys: null,
		current_page: 1,
		next_page: 2,
		prev_page: 0
	},
	created: function () {
		var _this = this;
		
		$.getJSON('/journeys/year/%year%/by-%group_by%/%group_by_var%?dept=%dept%', function (json) {
			_this.journeys = json;
		});
		
	}
});

$( document ).ready(function() {
	
			
	$("#ccl4_search").change(function(e) {
		$("#search_form").submit();
	});

	$("#year_search").change(function(e) {
		$("#search_form").submit();
	});
  
	$( "body" ).on( "click", ".pagination", function(e) {
		
		e.preventDefault();
		$("#statuses").fadeTo("fast", 0.2);
		$(".pagination").removeClass('disabled');
		
		var command = $(this).data('show');
		var get_page = '/journeys/year/%year%/by-%group_by%/%group_by_var%?page=1&dept=%dept%'
		
		if (command == 'first' ) {
		} else if (command == 'last') {
			get_page = '/journeys/year/%year%/by-%group_by%/%group_by_var%?page='+app.journeys.last_page+'&dept=%dept%';

		} else if (command == "prev") {
			get_page = '/journeys/year/%year%/by-%group_by%/%group_by_var%?page='+(app.journeys.current_page - 1)+'&dept=%dept%';
		} else {
			get_page = '/journeys/year/%year%/by-%group_by%/%group_by_var%?page='+(app.journeys.current_page + 1)+'&dept=%dept%';
		}
		
		$.getJSON(get_page, function (json) {
			app.journeys = json;
			app.current_page = json.current_page;
			app.next_page = json.next_page;
			app.prev_page = json.prev_page;
			
			if (json.current_page == 1) {
				$('#first_page').addClass('disabled');
				$('#prev_page').addClass('disabled');
			} else if (json.current_page == json.last_page) {
				$('#last_page').addClass('disabled');
				$('#next_page').addClass('disabled');
			}
			
			$("#statuses").fadeTo("fast", 1);
			
		});
		
	});
	
		
});

</script>
