<!--

   This file is part of The University of Edinburgh
   Business Travel Reporting System.
 
   Copyright 2017, 2018 University of Edinburgh
 
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->

<style>
	#map {
	 height: 400px;
	 width: 100%;
	}
 </style>

<div id="app">

<div id="map" style="height:100vh; width: 100%;"></div>



	
</div>
   

 
</div>
<script>
	


	var map;
	
	var heatmapPins = [];
	
	function initMap(pins) {

		var ed = {lat: 56.94214453, lng: -6.185752377};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 3,
			gestureHandling: 'greedy',
			center: ed,
			styles: [{"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}]
		});
		
		for (var i = 0; i < pins.length; i++) {
				var pin = pins[i];

				if (pin.destination_latitude !== null && pin.destination_longitude !== null &&  pin.destination_latitude != 0 && pin.destination_longitude != 0) {
					//console.log(pin[0] + ' (ID: '+pin[3]+', number: '+i+')');
					var myLatLng = new google.maps.LatLng(pin.destination_latitude , pin.destination_longitude);
					heatmapPins.push({location: myLatLng, weight: Math.round(pin.total_kg_co2e)});
				}
		}
		
		var heatmap = new google.maps.visualization.HeatmapLayer({
		  data: heatmapPins,
		  radius: 30,
		  gradient :[
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
		});
		
		//Use event listener for resize on window
			google.maps.event.addDomListener(window, 'resize', function() {
			
			//Set Center
   map.setCenter(ed);
			});	
	
	heatmap.setMap(map);
         
		
	}
	
	$( document ).ready(function() {
		
		
		$.getJSON( "/report/year/%year%/by-destination-minus-connections?dept=%dept%", function( data ) {
			initMap(data);		
			
		});
		
	});

    


</script>

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=%googleapikey%&libraries=visualization">
    </script>
 
