<!--

   This file is part of The University of Edinburgh
   Business Travel Reporting System.
 
   Copyright 2017, 2018 University of Edinburgh
 
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="app" class="container">
  
	
  <h2>Journey id {{journey.journey_id}} in {{journey.year}}</h2>
	
	<table class="u-full-width">
		<tbody>
			<tr v-for="(variable,index) in journey">
			<td class="tabhead"><p><strong>{{index.replace(/_/g," ")}}</strong></p></td>
			<td>
				<span v-if="index == 'status'">
					{{ status_codes[variable] }}
				</span>
				<span v-else>
					{{variable}}
				</span>
				
			
			</td>
			</tr>
		</tbody>
	</table>

</div>

<script type="text/javascript">
	

var app = new Vue({
	el: '#app',
	data: {
		journey: null,
		status_codes: null,
	},
	created: function () {
		var _this = this;
		
		$.getJSON('/lookup/statuses', function (json) {
			_this.status_codes = json;
			console.log(_this.status_codes);
		});
		
		$.getJSON('/journeys/by-id/%id%', function (json) {
			_this.journey = json[0];
		});
		
	}
});

</script>
